body {

    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Raleway", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}
#frame {
    display: none;
    float: right;
    bottom: 20px;
    left: 67%;
    position: fixed;
    width: 30%;
    height: 70vh;
    background: #fff;
    z-index: 999;
    box-shadow: 10px 5px 5px rgb(102, 104, 102);
    border-radius: 20px 0px 0px 20px;
}
@media screen and (max-width: 360px) {
    #frame {
        width: 100%;
        height: 100vh;
   }
}
#frame #sidepanel {
    float: left;
    width: 40%;
    height: 100%;
    background:rgb(0,150,136);
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
    border-radius: 20px 0px 0px 20px;
}

#frame #sidepanel #profile {
    width: 100%;
}
#frame #sidepanel #profile .wrap {
    padding: 5px;
    overflow: hidden;
    text-align: center;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
}
/* @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap {
        height: 55px;
   }
} */
#frame #sidepanel #profile .wrap img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    border: 3px solid #fff;
    cursor: pointer;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;

}
#frame #sidepanel #profile .wrap p {
    float: left;
}

#frame #sidepanel #profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    font-size: 0.8em;
    cursor: pointer;
    color: #435f7a;
}

#frame #sidepanel #profile .wrap #status-options {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    margin: 70px 0 0 0;
    border-radius: 6px;
    z-index: 99;
    line-height: initial;
    background: #435f7a;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#frame #sidepanel #profile .wrap #status-options.active {
    opacity: 1;
    visibility: visible;
    margin: 75px 0 0 0;
}

#frame #sidepanel #profile .wrap #status-options:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #435f7a;
    margin: -8px 0 0 24px;
}

#frame #sidepanel #profile .wrap #status-options ul {
    overflow: hidden;
    border-radius: 6px;
}
#frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 30px 18px;
    display: block;
    cursor: pointer;
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 0 0 0;
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    margin: -3px 0 0 -3px;
    background: transparent;
    border-radius: 50%;
    z-index: 0;
}

#frame #sidepanel #profile .wrap #status-options ul li p {
    padding-left: 12px;
}
#frame #sidepanel #profile .wrap #expanded {
    padding: 100px 0 0 0;
    display: block;
    line-height: initial !important;
}
#frame #sidepanel #profile .wrap #expanded label {
    float: left;
    clear: both;
    margin: 0 8px 5px 0;
    padding: 5px 0;
}
#frame #sidepanel #profile .wrap #expanded textarea {
    border: none;
    margin-bottom: 6px;
    background: #32465a;
    border-radius: 3px;
    color: #f5f5f5;
    padding: 7px;
    width: calc(100% - 43px);
}
#frame #sidepanel #profile .wrap #expanded textarea:focus {
    outline: none;
    background: #435f7a;
}

#frame #sidepanel #search label {
    position: absolute;
    margin: 10px 0 0 20px;
}
#frame #sidepanel #search textarea {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    padding: 5px 5px 5px 5px;
    width: calc(100% - 25px);
    border-radius: 5px;
    margin-left: 7px;
    background: #fff;
    color: #010101;
}
#frame #sidepanel #search textarea:focus {
    outline: none;
}
#frame #sidepanel #search input::-webkit-input-placeholder {
    color: #f5f5f5;
}
#frame #sidepanel #search input::-moz-placeholder {
    color: #f5f5f5;
}
#frame #sidepanel #search input:-ms-input-placeholder {
    color: #f5f5f5;
}
#frame #sidepanel #search input:-moz-placeholder {
    color: #f5f5f5;
}
#frame #sidepanel #contacts {
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

#frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
}
#frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: rgb(209, 205, 205);
}
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #a5a6a8;
}
#frame #sidepanel #contacts ul li.contact {
    position: relative;
    padding: 1px 0 1px 0;
    font-size: 0.7em;
    cursor: pointer;
}

#frame #sidepanel #contacts ul li.contact:hover {
    transform: scale(1.1);
    color:black
}

#frame #sidepanel #contacts ul li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
}
#frame #sidepanel #contacts ul li.contact.active span.contact-status {
    border: 2px solid #32465a !important;
}
#frame #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
    margin: 5px;
    position: relative;
    margin-left: -20px;
}

#frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background: #95a5a6;
}
#frame #sidepanel #contacts ul li.contact .wrap img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: 0.5;
}
#frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}
#frame #sidepanel #bottom-bar button {
    float: left;
    border: none;
    width: 50%;
    padding: 10px 0;
    background-color:rgb(47, 138, 115);
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
}

#frame #sidepanel #bottom-bar button:focus {
    outline: none;
}
#frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}

#frame #sidepanel #bottom-bar button:hover {
    background: #435f7a;
}
#frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}

#frame #content {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #fff;

}

#frame #content .contact-profile {
    font-weight: 700;
    font-size: 1.3em;
    color: #fff;
    width: 100%;
    height: 55px;
    line-height: 30px;
    background: rgb(0,150,136);
}
#frame #content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin:25px 10px 15px 10px;
}
#frame #content .contact-profile p {
    float: left;
}
#frame #content .contact-profile .social-media {
    float: right;
}
#frame #content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
}
#frame #content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
}
#frame #content .contact-profile .social-media i:hover {
    background-color:rgb(47, 138, 115);
}
#frame #content #messages {
    height: 87%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

#frame #content #messages::-webkit-scrollbar {
    width: 10px;
    border-radius: 25%;
    background: rgb(255,255, 255);;
}
#frame #content #messages::-webkit-scrollbar-thumb {
    background-color: rgb(0,150,136);
}
#frame #content #messages::-webkit-scrollbar-button {
   width:0px
}
#frame #content #messages ul li {
    display: inline-block;
    clear: both;
    margin: 0px 0px 0px -15px;
    width: calc(100% - 5px);
    font-size: 0.7em;
}
#frame #content #messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}
#frame #content #messages ul li.sent img {
    margin: 6px 8px 0 0;
}
#frame #content #messages ul li.sent p {
    font-size: 1.5em;
    background-color: rgb(0,150,136);
    color: #f5f5f5;
    font-family:'Raleway'
}
#frame #content #messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
}
#frame #content #messages ul li.replies p {
    font-size: 1.5em;
    background: #f5f5f5;
    float: right;
    font-family:'Raleway'
}
#frame #content #messages ul li img {
    width: 22px;
    border-radius: 50%;
    float: left;
}
#frame #content #messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
}

#frame #content .message-input {
    position: absolute;
    bottom: -12px;
    width: 100%;
    z-index: 99;
}
#frame #content .message-input .wrap {
    position: relative;
}
#frame #content .message-input .wrap textarea {
    font-family: "Raleway", "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 90px);
    padding:5px 32px 12px 7px;
    font-size: 0.8em;
    color: #32465a;
}

#frame #content .message-input .wrap textarea:focus {
    outline: none;
}
#frame #content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: 0.5;
    cursor: pointer;
}

#frame #content .message-input .wrap .attachment:hover {
    opacity: 1;
}
#frame #content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 15px 15px 15px 10px;
    cursor: pointer;
    background-color: rgb(0,150,136);

    color: #f5f5f5;
}

#frame #content .message-input .wrap button:hover {
    background: #435f7a;
}
#frame #content .message-input .wrap button:focus {
    outline: none;
}
 .float{
	position:fixed;
	bottom:10px;
	right:10px;
    z-index: 999;
} 
.float:hover{
    transform: scale(1.1);
}

.img-float{
	margin-top:9px;
    background-color:rgb(0,150,136);
    border-radius:50px;
    width:40px;
	height:40px;

}
ul{
    list-style-type: none;
}
textarea{
    resize: none;
}
.number{
    font-size: 12pt;
    height: 25px;
    width: 25px;
    background-color: #d63031;
    border-radius: 20px;
    color: white;
    text-align: center;
    position: absolute;
    top: -10px;
    left: 22px;
    padding: 1px;
    border: none;
  }
  .number1{
    font-size: 9pt;
    height: 20px;
    width: 20px;
    background-color: #d63031;
    border-radius: 20px;
    color: white;
    text-align: center;
    position: absolute;
    top: -5px;
    left: 140px;
    padding: 2px;
    border: none;
  }
  
  .number:empty {
     display: none;
  }
  @-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
}
.shake {
    display:inline-block
}
  
.close {
    position: absolute;
    right: 7px;
    top: 5px;
    width: 24px;
    height: 24px;
    opacity: 1;
    background-color: rgb(226, 71, 71);
    border-radius: 25%;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 9px;
    content: '';
    height: 25px;
    width: 2px;
    background-color: #fff;
    bottom: -2px;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
 #frame #content .message-input .wrap #input_message{
    font-size: 1.2em;
}