.phase-node {  
  height:800px;
  width: 1200px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  /* background: #ffffff; */
  position: relative;
}


 

.phase-node .button {
  position: absolute;
  top: 0px;
  left: 0px;
  
}
 

.phase-node label {

  display: block;
  color: #777;
  font-size: 12px;
  font-weight: bold;
}




.stage-node {  
  height: 130px;
  width: 800px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  /* background: #98c9e9; */
}
.stage-node .button {
  position: absolute;
  top: 0%;
  right: 0px;
  
}
.stage-node label {
  display: block;
  color: #777;
  font-size: 12px;
  font-weight: bold;
}



.form-node {  
  height: 60px;
  width: 130px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  /* background: #98c9e9; */
}
.form-node .button {
  position: absolute;
  top: 0%;
  right: 0px;
  
}
.form-node label {
  display: block;
  color: #777;
  font-size: 13px;
  font-weight: bold;
}


.process-node {  
  height: 50px;
  width: 100px;
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;
  position: relative;
  /* background: #98c9e9; */
}
.process-node .button {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  
}
.process-node label {
  top:0;
  display: block;
  color: #777;
  font-size: 10px;
  word-wrap: break-word;
}

.standard-node {  
  height: 30px;
  width: 100px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.standard-node label {
  display: block;
  color: #777;
  font-size: 12px;
}


 