.table-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 8px;
}

.table-header {
  font-weight: bold;
  background-color: #f4f4e8;
}

.table-row {
  background-color: #fff;
  border-bottom: 1px solid #d8d5ce;
}

.table-cell {
  padding: 8px;
  text-align: left;
}