/* // NOTE: styles are included via {<link />} tag at {index.html}
// @import "~leaflet/dist/leaflet.css";
// @import "~react-leaflet-markercluster/dist/styles.min.css"; */

.markercluster-map {
    height: 300px;
    width: 100%;
  }