<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="EBS - Enterprise Breeding System" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#000000" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#000000" />
  <noscript id="jss-insertion-point"></noscript>
  <title>EBS</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="shortcut icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <link rel="preload" crossorigin="anonymous"
    href="https://cdn.jsdelivr.net/npm/single-spa/lib/es2015/system/single-spa.min.js" as="script" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>

  <meta name="importmap-type" content="systemjs-importmap" />

  <script type="systemjs-importmap">
    <%= process.env.NODE_ENV === 'production' ? `
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa/lib/es2015/system/single-spa.min.js",
        "react": "https://unpkg.com/react@18/umd/react.production.min.js",
        "react-dom": "https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
      }
    }
    ` : `
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa/lib/es2015/system/single-spa.min.js",
        "react": "https://unpkg.com/react@18/umd/react.development.js",
        "react-dom": "https://unpkg.com/react-dom@18/umd/react-dom.development.js"
      }
    }
    ` %>
  </script>

  <!-- Add your organization's prod import map URL to this script's src  -->

  <% if (isLocal) { %>
    <script type="systemjs-importmap" src="http://localhost:3000/importmaps.json" id="importmaps">

  </script>
    <% } else {%>
      <script type="systemjs-importmap" src="#{HOST_CS_SHAREDLIB}#" id="importmaps"></script>
      <% } %>
        <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->


        <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>



</head>

<body>
  <script>
    System.import('@ebs/root-config');
    System.import('@ebs/styleguide');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>